<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/CDN/Themes/1/css/ypk.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/CDN/Js/Lib/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/CDN/Js/Lib/coin-slider.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/CDN/Js/common.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
